@use "sass:map";

@import "~/assets/styles/utils";

@include l(nav) {
  display: flex;

  @include e(wrap) {
    background: linear-gradient(90deg, #096dcb 0%, #27a2f2 100%);
    z-index: 1;
    position: relative;
  }

  @include e(item) {
    @include text--middle(48px);

    flex: 1;
    position: relative;

    @include s(is-active) {
      background-color: map.get($colors, secondary);
    }

    &:hover {
      background-color: map.get($colors, secondary);

      @include b(drop) {
        display: block;
      }
    }
  }

  @include e(link) {
    @include size(100%, 100%);

    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
  }

  @include b(drop) {
    @include position--absolute(48px, null, null, 0);

    width: 100%;
    display: none;

    @include e(item) {
      @include text--middle(40px);
    }

    @include e(link) {
      @include size(100%, 100%);

      display: block;
      background-color: map.get($colors, secondary);
      font-size: 16px;
      text-align: center;
      color: white;

      &:hover {
        background-color: map.get($colors, secondary-hl);
      }
    }
  }
}
