@import "~/assets/styles/utils/index.scss";

@include c(cases) {
  @include clearfix;

  /* item */
  @include e(item) {
    @include margin(null, null, 20px, 20px);

    width: 336px;
    height: 254px;
    float: left;
    padding: 25px;
    background-color: color(2);

    img {
      @include img--block(334px, 254px);
    }

    /* first */
    @include e(first) {
      margin-left: 0;
    }
  }
}
