@import "~/assets/styles/utils/index.scss";

@include p(index) {
  @include pb(banner) {
    @include size(100%, 600px);

    background: {
      image: url("./images/banner.jpg");
      size: 1940px 600px;
      position: center center;
      repeat: no-repeat;
    }

    position: relative;
    min-width: $min-width;

    @include e(title) {
      @include position--absolute(220px, null, null, 0);

      width: 100%;
    }

    @include e(desc) {
      @include position--absolute(290px, null, null, 0);

      width: 100%;
    }

    @include c(qrcode) {
      @include position--absolute(350px, null, null, 50%);

      transform: translateX(-50%);
    }
  }
}
