@import "~/assets/styles/utils/index.scss";

@include p(index) {
  @include pb(articles) {
    dl {
      @include block--center;

      width: 375px;
    }

    @include e(img) {
      @include size(375px, 375px * 0.65);

      margin-bottom: 20px;
      background-size: 100% auto;
      border-radius: 4px;
      box-shadow: 0 0 16px 0 rgba(map-get($colors, c2), 0.03);

      &:hover {
        box-shadow: 0 0 16px 0 rgba(map-get($colors, c2), 0.12);
      }
    }

    @include e(item) {
      @include text--middle(50px);
      @include text--overflow;

      a {
      }

      span {
        display: inline-block;
        padding: 6px 8px;
        border-radius: 2px;
        line-height: 100%;
        margin-right: 6px;
      }
    }

    li {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          dt {
            background-image: url("./images/#{$i}.png");
          }
        }
      }

      &:first-child {
        dl {
          margin-left: 0;
        }
      }

      &:last-child {
        dl {
          margin-right: 0;
        }
      }
    }
  }
}
