@use "sass:map";

@include c(block) {
  @include padding(70px, null, 70px);

  @include e(title) {
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
  }

  @include e(extra) {
    color: map.get($colors, g7);
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
  }
}
