@use "sass:map";

@import "~/assets/styles/utils";

@include b(schemes) {
  ul {
    display: flex;
    gap: 20px;

    li {
      flex: 1;
    }
  }

  @include b(block) {
    position: relative;

    @include e(icon) {
      @include size(100%, 380px * 0.5);

      color: white;
      background-size: 100% 100%;
      margin-bottom: 10px;

      @for $i from 1 through 3 {
        &.is-#{$i} {
          background-image: url("./components/schemes/images/#{$i}.png");
        }
      }
    }

    @include e(title) {
      @include position--absolute(100px, 20px, null, 20px);
    }

    @include e(desc) {
      @include position--absolute(134px, 20px, null, 20px);
    }
  }

  @include b(list) {
    display: flex;
    gap: 10px;

    li {
      flex: 1;
      height: 120px;
      border-radius: 4px;
      box-sizing: border-box;
      padding-top: 78px;
      text-align: center;

      @for $i from 1 through 3 {
        @for $j from 1 through 3 {
          &.is-#{$i}-#{$j} {
            background: {
              color: map.get($colors, g2);
              size: 38px 38px;
              image: url("./components/schemes/images/#{$i}-#{$j}.webp");
              position: center 20px;
              repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
