@use "sass:map";

.s-cms-content {
  font-size: 16px;
  line-height: 180%;

  img {
    @include margin(6px, null, 6px);
  }

  table {
    @include margin(6px, null, 6px);

    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid map.get($colors, g4);
      padding: 6px;
      text-align: left;
    }

    th {
      background-color: map.get($colors, g1);
    }
  }
}
