@import "../../utils/index";
@import "~minireset.css/minireset";

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: map-get($colors, c1);
  color: map-get($colors, c5);
  min-width: $min-width;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
