@import "~/assets/styles/utils/index.scss";

@include p(index) {
  @include pb(projects) {
    @include padding(30px, null, 30px);

    @include e(item) {
      text-align: center;
    }

    img {
      @include size(45px, 45px);

      display: inline-block;
      margin-left: 40px;
      float: left;
    }

    p {
      @include text--middle(45px);

      display: inline-block;
      margin-left: 10px;
      float: left;
    }
  }
}
