@import "~/assets/styles/utils/index.scss";

@include c(logo) {
  @include text--middle(50px);

  width: 170px;
  display: block;
  position: relative;
  padding-left: 50px;

  @include e(icon) {
    @include position--absolute(50%, null, null, 0);

    transform: translateY(-50%);
  }
}
