@import "~/assets/styles/utils/index.scss";

@include p(index) {
  @include pb(banner) {
    @include size(100%, 600px);

    background: {
      image: url("./images/banner.jpg");
      size: 1940px 600px;
      position: center center;
      repeat: no-repeat;
    }

    position: relative;
    overflow: hidden;
    min-width: $min-width;

    @include e(title) {
      @include position--absolute(220px, null, null, 0);

      width: 100%;
      text-align: center;
      font-weight: normal;
    }

    @include e(desc) {
      @include position--absolute(280px, null, null, 0);

      width: 100%;
      text-align: center;
    }

    @include c(qrcode) {
      @include position--absolute(350px, null, null, 50%);

      transform: translateX(-50%);
    }
  }

  @include pb(panel) {
    padding-top: 50px;

    @include e(title) {
      @include text--middle(70px);

      display: inline-block;
      border-bottom: 2px solid map-get($colors, c3);
    }

    @include e(body) {
      @include padding(30px, null, 50px);

      line-height: 100%;
    }
  }
}
