// 字体大小
$font-sizes: ();

$font-sizes: (
  fs12: 12px,
  fs14: 14px,
  fs16: 16px,
  fs18: 18px,
  fs20: 20px,
  fs40: 40px
);

// 颜色
$colors: (
  c1: #fff,
  c2: #000,
  c3: #5cd468
);

// z-index
$z-indexes: (
  c-overlay: 5
);

$min-width: 1200px;
