$font-size: 14px;

$font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;

$min-width: 1200px;

$font-sizes: 12px, 13px, 14px;

$colors: (
  c1: #fff,
  c2: #000,
  c3: #5cd468,
  c4: #ebebeb,
  c5: #333333,
  c6: #999999,
  c7: #f1f1f1
);

$z-indexes: (
  c-overlay: 5
);
