@import "~/assets/styles/utils";

@include b(ads) {
  @include position--absolute(0, null, null, 50%);
  @include size(1440px, 480px);
  @include block--center;

  transform: translateX(-50%);

  @include e(wrap) {
    @include size(100%, 480px);

    overflow: hidden;
    position: relative;
  }

  img {
    @include size(100%, 100%);

    display: block;
  }
}
