@use "sass:map";

@import "~/assets/styles/utils";

@include l(header) {
  @include position--fixed(0, null, null, 0);

  width: 100%;
  height: map.get($the-layout, the-header, height);
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid map.get($colors, g2);

  @include e(logo) {
    @include position--absolute(50%, null, null, 30px);
    @include text--middle(30px);

    transform: translateY(-50%);
    display: block;
    font-size: 20px;
    padding-left: 100px;
    text-decoration: none;
    background: {
      image: url("./images/logo.png");
      size: auto 100%;
      repeat: no-repeat;
    }
  }

  @include e(nav) {
    @include position--absolute(50%, null, null, 490px);

    transform: translateY(-50%);

    li {
      @include padding(10px, 20px, 10px, 20px);

      position: relative;
      font-size: 18px;
      line-height: 100%;
      float: left;
      cursor: pointer;

      @include s(is-active) {
        color: map.get($colors, primary);

        &::after {
          @include size(20px, 4px);
          @include position--absolute(null, null, 0px, 50%);

          transform: translateX(-50%);
          border-radius: 2px;
          content: "";
          display: block;
          background-color: map.get($colors, primary);
        }
      }
    }
  }

  @include e(login) {
    @include position--absolute(50%, 30px);

    transform: translateY(-50%);
  }
}
