@import "~/assets/styles/utils/index.scss";

@include p(index) {
  @include pb(cases) {
    @include clearfix;

    @include e(item) {
      img {
        @include size(375px, 375px);
        @include block--center;

        padding: 8px;
        background-color: map-get($colors, c1);
        display: block;
        box-shadow: 0 0 16px 0 rgba(map-get($colors, c2), 0.03);
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          box-shadow: 0 0 16px 0 rgba(map-get($colors, c2), 0.12);
        }
      }

      &:first-child {
        img {
          margin-left: 0;
        }
      }

      &:last-child {
        img {
          margin-right: 0;
        }
      }
    }
  }
}
